# Frontend build artifacts
frontend/dist/
frontend/node_modules/
frontend/.angular/

# Python
__pycache__/
*.pyc
*.pyo
.pytest_cache/
backend/.pytest_cache/
backend/tests/.pytest_cache/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
*.swp


# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log

# Terraform lock file (optional: keep or ignore)
# .terraform.lock.hcl